<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Edit</title>
</head>

<body>
  <div layout:fragment="content">
    <h1>Choose to edit, still needs validation</h1>

    <form action="#" th:action="@{/events/edit/{num}(num=${event_old.id})}" th:object="${event_new}" method="post">

	  <label for="name">Event Name</label>
      <input class="form-control" type="text" name="name" th:value=${event_old.name}  id="name" th:field="*{name}" 
        autofocus="autofocus" maxlength = "256" required/>
        
      <label for="date">Event Date</label>
      <input class="form-control" type="date" name="date" id="date" th:field="*{date}" placeholder="Hello, %s!"
        autofocus="autofocus" required/>

      <label for="time">Event Time</label>
      <input class="form-control" type="time" name="time" id="time" th:field="*{time}" placeholder="Hello, %s!"
        autofocus="autofocus" required/>
        
       <label for="time">Event Description</label>
      <input class="form-control" type="text" name="time" id="time" th:field="*{description}" placeholder="Enter Description"
        autofocus="autofocus" maxlength = "500" required/> 

      <label for="venue">Event Venue </label>
      <select class="form-control" name="venue" th:field="*{venue}" id="venue">
        <div th:each="v : ${venues}">
        <option th:value=${v.id} th:text=${v.name}> </option>
        </div> 
        </select>
      


      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>

</html>