<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1>
    <form action="#" th:action="@{/events}" th:object="${event}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Event Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder=" " autofocus="autofocus" />
        <label for="date">Event Date</label>
        <input class="form-control" type="date" name="date" id="date" placeholder=" " autofocus="autofocus" />
        <label for="time">Event Time</label>
        <input class="form-control" type="time" name="time" id="time" placeholder=" " autofocus="autofocus" />
   <div class="form-group">
    <label for="eventVenue">Event Venue:</label>
    <select class="form-control" id="venue" name="venue">
     <option th:each="venue : ${venues}" th:value="${venue.id}" 
      th:text="${{venue.name}}" th:selected="(${venue.id} == ${{event.venue.id}})">
      Venue Name
     </option>
    </select>



      </div>
    
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a >
    </form>
  </div>
</body>
