<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1>
    <form action="#" th:action="@{/events}" th:object="${event}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Event Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder=" " autofocus="autofocus" />
        <label for="date">Event Date</label>
        <input class="form-control" type="date" name="date" id="date" placeholder=" " autofocus="autofocus" />
        <label for="time">Event Time</label>
        <input class="form-control" type="time" name="time" id="time" placeholder=" " autofocus="autofocus" />
			<div class="form-group">
      	<label for="venue">Event Venue</label>
		<br>
		
	  <select class="form-control" name="venue" id="venue">
    	<option  th:each="venue : ${venue}" th:value="${venue.getId()}" th:text="${venue.getName()}"></option>
	  </select>

			</div>
				<div class=" form-group">
				<label for="eventTime">Event Description:</label>
				<input type="text" class="form-control" th:field="*{description}" th:placeholder="${{event.description}}">
			</div>


      </div>
    
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
