<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>An Event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Choose to delete or Edit</h1>

    <blockquote>
      <p th:text="${event}">Hello, World!</p>
    </div>

    <h1 th:text="${event.name}"></h1>


  <table style="width:40%">
  <tr>
    <th>DATE</th>
    <th th:text="${event.date}"></th>
  </tr>
  <tr>
   <th>TIME</th>
    <th th:text="${event.time}"></th>
  </tr>
  <tr>
    <th>VENUE</th>
    <th><a th:href="@{/venues/{num}(num=${venue.id})}" th:text ="${venue.name}"</a></th>
  </tr>
  <tr>
    <th>VENUE CAPACITY</th>
    <th th:text="${venue.capacity}"></th>
  </tr>
  <tr>
    <th>DESCRIPTION</th>
    <th th:text="${event.description}"></th>
  </tr>
  <tr>
    <th>LAT AND LONG VENUE</th>
    <th th:text="${lat}"></th>
     <th th:text="${lon}"></th>
  </tr>
</table>

<div>
    </blockquote>

    <form th:action="@{/events/{num}(num=${id})}" th:method="delete">
      <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
      
      <a sec:authorize="isAuthenticated()" class="btn btn-primary" role="button" th:href="@{/events/edit/{num}(num=${id})}"><i class="fas fa-pen" aria-hidden="true"></i> Edit</a>
    </form>
    <br>
    <table>
      <tr>
        <td sec:authorize="isAuthenticated()">
          <form th:action="@{/events/{id}/delete(id=${id})}" th:method="delete">
            <button type="submit" class="btn btn-danger btn-sm">Delete event</button>
          </form>
        </td>
        <td sec:authorize="isAuthenticated()">
          <form th:action="@{/events/{id}/delete/date(id=${id})}" th:method="put">
            <button type="submit" class="btn btn-danger btn-sm">Delete date</button>
          </form>
        </td>
        <td sec:authorize="isAuthenticated()">
          <form th:action="@{/events/{id}/delete/time(id=${id})}" th:method="put">
            <button type="submit" class="btn btn-danger btn-sm">Delete time</button>
          </form>
        </td>
        <td sec:authorize="isAuthenticated()">
          <form th:action="@{/events/{id}/delete/all_fields(id=${id})}" th:method="put">
            <button type="submit" class="btn btn-danger btn-sm">Delete all fields</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
