<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">

<head>
  <title>Edit Venue</title>
</head>

<body>
  <div layout:fragment="content">
    <h1>Choose to edit, still needs additional textboxes and validation</h1>

    <form action="#" th:action="@{/venues/edit/{num}(num=${venue_old.id})}" th:object="${venue_new}" method="post">

        
      <label for="name">Venue Name</label>
      <input class="form-control" type="text" name="date" id="date" th:field="*{name}" placeholder="cannot be null, maximum is 256 chars"
        autofocus="autofocus" maxlength = "256" required/>

      <label for="address">Venue Address</label>
      <input class="form-control" type="text" name="address" id="address" th:field="*{address}" placeholder="cannot be null, maximum is 500 chars"
        autofocus="autofocus" maxlength = "300" required/>
        
       <label for="capacity">Venue Capacity</label>
      <input class="form-control" type="number" name="capacity" id="capacity" th:field="*{capacity}"
        autofocus="autofocus" /> 
        
       <label for="capacity">Venue postcode</label>
      <input class="form-control" type="text" name="postcode" id="postcode" th:field="*{Postcode}"
        autofocus="autofocus" /> 



      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>

</html>